.add-container, .update-container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.add-more-btn, .submit-btn {
   height: 40px;
   border-radius: 8px;
   width: 100px;
}

.add-more-btn {
    width: 100%;
    background-color: #1c2120;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    cursor: pointer;
}

.add-more-btn:hover {
    opacity: 0.9;
}

.submit-btn {
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.9;
}

.btns {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.btns div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100%;
    border-radius: 8px;
    border: 2px solid black;
}

.rating-tables {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 10px;
}

.rating {
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}

.assigned_weight {
    text-align: center;
    border: none;
}

.overall-rating {
    width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 13px;
}

td {
    text-align: center;
}