.view-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 15px;       
    width: 260mm;                                                                  
}

.ipcr-form {
    display: flex;
    flex-direction: column;     
    min-height: 297mm; 
    border: 2px solid black;
    padding: 25px;
    margin: 0 auto;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
    width: 100%;
}

.view-agency {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.view-agency-logo {
    width: 70px;
    height: 60px;
}

.view-agency-name {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.view-ipcr-container {
    font-size: 12px;
    text-align: center;
    line-height: 1.8;
    margin: 20px 0;
}

.view-ipcr-container strong {
    text-decoration: underline;
}

.view-signature-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.view-signature-block {
    width: 250px;
    text-align: center;
}

.view-signature-line {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.view-label {
    font-size: 12px;
    margin-bottom: 10px;
}

.view-date-row {
    text-align: left;
}

.view-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    font-size: 12px;
}

.view-table th,
.view-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.view-table th {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    text-align: center;
}

.view-small-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
}

.view-small-table th,
.view-small-table td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    background-color: rgb(245, 245, 245);
}

.print-btn{
    width: 100%;
    height: 40px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
    letter-spacing: 6px;
    cursor: pointer;
}

.print-btn:hover {
    opacity: 0.9;
}

@media print {
    .form-container {
        width: 260mm;
        min-height: 297mm   ;
        padding: 20px;
    }
    .print-button {
        display: none;
        color: black;
    }
}